doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Transcription
        link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Noto+Sans+Kannada:wght@100..900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    body
        header
            nav
                div#logo Textify
                ul
                    li
                        a(href="/#benefits") Features
                    li
                        a(href="/#step-by-step") Instruction
                    li
                        a(href="#") Converter

        main

            a(href="/" class="home-btn") ← Main Page

            div#formDiv

                button#sidebarToggle
                    i.fa-solid.fa-clock-rotate-left

                form#uploadForm(action="javascript:void(0);", method="post", enctype="multipart/form-data")
                    label(for="fileUpload", style="font-weight:bold") Click the button or drop the file:
                    input(type="file", id="fileUpload", name="file", onchange="checkFormat()", required )
                    p#small-m

                    input(type="button", value="Remove File", onclick="removeFile()")
                    input(type="submit", value="Transcribe File")

                p#output

                div#messages

        aside#transcriptionHistorySidebar
            h2 History of Transcriptions
            // You will dynamically populate this list with transcription history
            ul#transcriptionHistoryList

            button#closeSidebar
                i.fa-solid.fa-xmark

        footer
            p © 2024 TEXTIFY AUDIO-TEXT CONVERTER

        script(type='text/javascript', src='/javascripts/uploading.js')
        script(type='text/javascript', src='/javascripts/websocket.js')
