extends layout

block content
    div#big-text
        h1 Convert Audio to Text
        p Effortlessly convert audio files into accurate text transcripts.
        a.btn-lnk(href="/transcribe") Try now →

    div#benefits
        each benefit in benefits
            div.bnft
                strong= benefit.title
                p= benefit.description

    div#step-by-step
        div.content-wrapper
            div
                h2 It is easier than you think
                ol
                    each step in steps
                        li
                            strong= step.title
                            p= step.description
                a.btn-lnk(href="/transcribe") Try now →
            img(src="https://i.pinimg.com/564x/90/82/82/9082829b9e25179daf4a6f15f17c966e.jpg" alt="Descriptive Text" class="step-image")