doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Transcription
        link(rel='stylesheet' type="text/css" href='/stylesheets/style.css')
    body
        h1 Your transcribed file

        p= transcript



        script(type='text/javascript', src='/javascripts/script.js')