/* Base styles */
body {
    font-family: 'Montserrat', sans-serif; /* Adjusted for a more modern look */
    background-color: #EEF2FF; /* Light grey background for a modern, airy feel */
    color: #333; /* Darker text for contrast and readability */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


/* Header styles */
header {
    background-color: #f7f9ff; /* White background for the header */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    position: fixed; /* Fixed at the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it stays on top */
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #1c1c1c;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
}

#logo {
    font-weight: 800;
    color: #3B33C8;
    margin-right: auto;
    font-size:120%;
}

.signup-btn {
    background-color: #3B33C8;
    color: #FFFFFF;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: auto;
    text-decoration: none;
}

.signup-btn:hover {
    background-color: #2923af;
}


/* Main styles */
main {
    padding-top: 60px;
}

#big-text {
    text-align: center; /* Center aligns the content */
    padding: 60px 40px;
}

#big-text h1, #big-text p {
    text-align: center;
    margin: 10px 0;
}

#big-text a {
    display: inline-block;
    background-color: #3B33C8;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#big-text a:hover {
    background-color: #2923af;
}


/* Step-by-step */
#step-by-step {
    padding: 60px 80px; /* Padding around the content */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the flex container */
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#step-by-step h2 {
    color: #000000; /* Black color for the heading */
    font-size: 1.7em; /* Large font size for the heading */
    font-weight: bold; /* Bold font weight for the heading */
    width: 100%; /* Full width */
    margin-bottom: 20px; /* Space below the heading */
}

#step-by-step ol {
    counter-reset: step-counter; /* Reset the counter */
    padding-left: 0; /* Remove default padding */
    list-style: none; /* Remove default list styling */
    margin-left: auto; /* Align the list to the right */
    text-align: left; /* Align text to the left */
}

#step-by-step ol li {
    counter-increment: step-counter; /* Increment the counter */
    font-size: 1em; /* Increase font size for readability */
    margin-bottom: 20px; /* Space between list items */
    position: relative; /* Position relative for pseudo-element */
    padding-left: 40px; /* Space for the counter */
    text-align: left; /* Align text to the left */
}

#step-by-step ol li::before {
    content: counter(step-counter); /* Insert the counter value */
    position: absolute; /* Position absolutely within the li */
    left: 0; /* Align to the left */
    top: 0; /* Align to the top */
    font-size: 2em; /* Larger font size for the counter */
    font-weight: bold; /* Bold font weight for the counter */
    color: #3B33C8; /* Brand color for the counter */
}

#step-by-step ol li strong {
    display: block; /* Make the title a block element */
    font-size: 1em; /* Slightly larger font size for titles */
    margin-bottom: 5px; /* Space between title and description */
}

#step-by-step ol li p {
    margin: 0; /* No margin for paragraph to reduce space */
}

.step-image {
    max-width: 25%; /* Adjust as necessary for the size of the image */
    margin-left: 5vw;
    flex-shrink: 0; /* Prevents the image from shrinking below its minimum content size */
    align-self: center;
}


/* Benefits */
#benefits {
    background-color: #3B33C8; /* Dark blue background */
    color: white; /* White text for contrast */
    display: flex; /* Use flexbox to layout children side by side */
    justify-content: space-around; /* Evenly distribute space around items */
    padding: 20px; /* Padding inside the container */
}

.bnft {
    flex: 1; /* Each item will take up equal space */
    margin: 0 10px; /* Margin to separate the items */
    padding: 20px; /* Padding inside each item */
    background-color: #3d34cb; /* Slightly different background for each item */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

.bnft p:first-child {
    font-weight: bold; /* Make the title bold */
    font-size: 1.2em; /* Larger font size for the title */
    margin-bottom: 10px; /* Space between the title and the description */
}

.bnft p:last-child {
    font-size: 1em; /* Standard font size for the description */
}


/* File upload */
#file-upload {
    border: 2px dashed #3B33C8;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: #3B33C8;
    width: 50%;
    margin:auto;
    margin-bottom: 40px;
}

#file-upload.highlight {
    background-color: #eee; /* Highlight color when dragging files over */
}

/*input[type="file"] {*/
/*    opacity: 0;*/
/*    overflow: hidden;*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*}*/

/*label[for="fileInput"] {*/
/*    font-size: 1.2em;*/
/*    font-weight: bold;*/
/*    color: #3B33C8;*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*}*/

#file-upload-success {
    background-color: #E8F0FE;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

#file-details p {
    color: #1F2937;
    margin: 5px 0;
}

.file-detail {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.file-icon {
    font-size: 24px; /* Size of the icon */
    margin-right: 10px;
}

.file-name, .file-size {
    margin: 0 5px;
}

#file-details {
    margin-top: 10px;
}


/* Footer */
footer {
    background-color: #3B33C8; /* White background */
    text-align: center; /* Center the text */
    padding: 5px 0; /* Padding for spacing */
    font-size:0.5em;
    color: white;
}
