/* Base styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EEF2FF;
    color: #040a15;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    height: 100%;

    display: flex;
    flex-direction: column;
}

html{
    height: 100%;
}

/* Header styles */
header {
    background-color: #f7f9ff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #1c1c1c;
    text-decoration: none;
    padding: 5px 15px;
    display: block;
    font-weight: 500;
}

#logo {
    font-weight: 800;
    color: #3B33C8;
    margin-right: auto;
    font-size:120%;
}

/* Main styles */
main {
    padding-top: 80px;
    flex: 1;
}

#big-text {
    text-align: center;
    padding: 40px 40px 60px 40px;
}

#big-text h1, #big-text p {
    text-align: center;
    margin: 10px 0;
}

.btn-lnk{
    display: inline-block;
    background-color: #3B33C8;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-weight: bolder;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.btn-lnk:hover {
    background-color: #2923af;
}

/* Step-by-step */
#step-by-step {
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#step-by-step h2 {
    color: #000000;
    font-size: 1.7em;
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
}

#step-by-step ol {
    counter-reset: step-counter;
    padding-left: 0;
    list-style: none;
    margin-left: auto;
    text-align: left;
}

#step-by-step ol li {
    counter-increment: step-counter;
    font-size: 1em;
    margin-bottom: 20px;
    position: relative;
    padding-left: 40px;
    text-align: left;
}

#step-by-step ol li::before {
    content: counter(step-counter);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2em;
    font-weight: bold;
    color: #3B33C8;
}

#step-by-step ol li strong {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
}

#step-by-step ol li p {
    margin: 0;
}

.step-image {
    max-width: 35%;
    margin-left: 5vw;
    flex-shrink: 0;
    align-self: center;
}

/* Benefits */
#benefits {
    background-color: #3B33C8;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.bnft {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #3d34cb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bnft p:first-child {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.bnft p:last-child {
    font-size: 1em;
}


/* File upload */
#fileUpload.highlight {
    background-color: #eee;
}

input{
    font-family: 'Montserrat', sans-serif;
}

label[for="fileInput"] {
    font-size: 1.2em;
    font-weight: bold;
    color: #3B33C8;
    display: inline-block;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #3B33C8;
    text-align: center;
    padding: 8px 0;
    font-size: 0.7em;
    color: white;
}


/* Form container */
#formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
    background-color: #fdfdff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
}

/* Style input fields */
input[type='file'] {
    border: 2px solid #3B33C8;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 80%;
    margin: 20px auto;
}

::-webkit-file-upload-button, input[type='button'], input[type='submit'], .download-link {
    background-color: #3B33C8;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    margin: 10px;
    font-size: 0.8em;
}

::-webkit-file-upload-button, input[type='button']:hover, input[type='submit']:hover, .download-link:hover {
    background-color: #2923af;
}

/* Output message styling */
p#output {
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.home-btn {
    font-weight:bolder;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 40px;
}

.home-btn:hover, #error a:hover {
    color: #2923af;
}

::-webkit-file-upload-button {
    font-family: 'Montserrat', sans-serif;
}

#small-m{
    font-size: 0.8em;
    text-align: left;
    margin: 0 auto 10px;
    width: 80%;
    padding: 0 10px;
}

#messages{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#transcriptionHistorySidebar {
    position: fixed;
    top: 0;
    right: -36%;
    width: 35%;
    height: 100%;
    background: #f7f9ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s;
    z-index: 2000;
}

#transcriptionHistorySidebar li{
    cursor: pointer;
}

#transcriptionHistorySidebar.open {
    right: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EEF2FF;
    background-color: #3d34cb;
    padding: 16px;
    margin-top: 0;
    border-bottom: 1px solid #e7e7e7;
}


#transcriptionHistorySidebar h2 {
    margin: 0;
    font-size: 1.25em;
}

#transcriptionHistorySidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#transcriptionHistorySidebar ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e7e7e7;
}

#transcriptionHistorySidebar ul li span {
    margin-left: auto;
}

#transcriptionHistorySidebar #closeSidebar {
    top: 10px;
    right: 10px;
    padding: 5px 10px;
}

.remove-audio-button {
    padding: 8px 12px;
    margin-left: 15px;
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.remove-audio-button:hover {
    background-color: #ff7875;
}

#sidebarToggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 10;
}

#sidebarToggle i{
    font-size: 23px;
    color: #3B33C8;
}

#closeSidebar i{
    font-size: 23px;
    color:#EEF2FF;
}

#sidebarToggle i:hover{
    color: #2923af;
}

#uploadForm{
    width: 90%;
    align-self: center;
}

#closeSidebar{
    background: none;
    border: none;
    cursor: pointer;
}

#details{
    margin: 0 40px 40px 40px;
}

#transcriptDisplay, #transcriptionEditor {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    white-space: pre-wrap;
    font-size: 0.9em;
    width: 60%;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    line-height: initial;
    height:fit-content;
}

#transcriptDisplay p{
    margin:0;
}

#details button{
    margin-right: 15px;
}

#error{
    margin-left: 40px;
}

#error a{
    font-weight:bolder;
    color: black;
    padding: 10px 20px 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-top: 40px;
}
